<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Jasmine Bayani's Portfolio - BLOG</title>
      <meta name="description" content="Jasmine Bayani's Portfolio">
      <meta name="Jasmine" content="SitePoint">
      <link rel="stylesheet" href="static/styles.css?v=1.0">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
   </head>
   <body>

      <h1 a href="/resume">Jasmine Bayani</h1>
      <div id="menu"> <a href ="/resume"> Home <a/> | <a href ="resume#skills"> Skills <a/>  | <a href ="resume#work"> Work Experience <a/> | <a href ="resume#education"> Education <a/>  | <a href ="/blog"> Blog <a/> </div>

      <div id="blogHomepage">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis lorem eget massa blandit porta. Nunc at arcu ullamcorper, pretium arcu non, ultrices dolor. Aenean accumsan posuere massa vel placerat. Nunc eget metus at dolor molestie consectetur. Sed commodo ante erat, ut facilisis lectus accumsan vitae. Ut non turpis orci. Nunc vitae nunc vehicula enim dapibus fringilla. Vestibulum elementum vehicula lacus eu scelerisque. Cras sit amet finibus metus, a bibendum tellus. In lacus felis, tempor sit amet eleifend eget, cursus ac lectus. Proin non porttitor erat, eu posuere diam. Nunc sed mauris eget est tincidunt tincidunt sit amet ut arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Nulla elit lectus, fermentum ut dictum ac, ornare suscipit enim. Nunc neque massa, finibus vitae sapien et, gravida pharetra erat. Curabitur pellentesque orci ac justo iaculis congue. Suspendisse et nisi suscipit, iaculis urna eget, condimentum quam. Vestibulum facilisis finibus dolor, id facilisis risus placerat vitae. Donec ligula nisi, accumsan sit amet gravida ut, tincidunt eget tellus. Cras hendrerit enim neque, sit amet feugiat neque lobortis luctus. Etiam at sagittis libero. Sed molestie euismod nisi at venenatis. Curabitur fringilla odio vitae eros volutpat, tempor fringilla sapien sagittis. Cras eu ante eu purus ultricies suscipit vitae nec nisi. Donec sodales tincidunt ipsum, et malesuada justo aliquam eu. Phasellus nec justo ut dolor lacinia convallis.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis lorem eget massa blandit porta. Nunc at arcu ullamcorper, pretium arcu non, ultrices dolor. Aenean accumsan posuere massa vel placerat. Nunc eget metus at dolor molestie consectetur. Sed commodo ante erat, ut facilisis lectus accumsan vitae. Ut non turpis orci. Nunc vitae nunc vehicula enim dapibus fringilla. Vestibulum elementum vehicula lacus eu scelerisque. Cras sit amet finibus metus, a bibendum tellus. In lacus felis, tempor sit amet eleifend eget, cursus ac lectus. Proin non porttitor erat, eu posuere diam. Nunc sed mauris eget est tincidunt tincidunt sit amet ut arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Nulla elit lectus, fermentum ut dictum ac, ornare suscipit enim. Nunc neque massa, finibus vitae sapien et, gravida pharetra erat. Curabitur pellentesque orci ac justo iaculis congue. Suspendisse et nisi suscipit, iaculis urna eget, condimentum quam. Vestibulum facilisis finibus dolor, id facilisis risus placerat vitae. Donec ligula nisi, accumsan sit amet gravida ut, tincidunt eget tellus. Cras hendrerit enim neque, sit amet feugiat neque lobortis luctus. Etiam at sagittis libero. Sed molestie euismod nisi at venenatis. Curabitur fringilla odio vitae eros volutpat, tempor fringilla sapien sagittis. Cras eu ante eu purus ultricies suscipit vitae nec nisi. Donec sodales tincidunt ipsum, et malesuada justo aliquam eu. Phasellus nec justo ut dolor lacinia convallis.
      </div>

   </body>
</html>