<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Jasmine Bayani's Portfolio</title>
      <meta name="description" content="Jasmine Bayani's Portfolio">
      <meta name="Jasmine" content="SitePoint">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <!--BOOTSTRAP-->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="static/stylesv2.css?v=1.0">
   </head>
   <body class = "container-fluid">
      <div class="row" id="top">
         <div id="menu" class="navbar navbar-default fixed-top">
            <div class="container-fluid"><a href="/" class="menu-item">HOME</a> <a href="/#skillsDiv"  class="menu-item">SKILLS</a> <a href="/#workDiv"  class="menu-item">WORK</a> <a href="/#educationDiv"  class="menu-item">EDUCATION</a> <a href ="/blog">BLOG<a/> <a href=#top class="menu-item">^</a></div>
         </div>
         <div class="col-sm" id="left">
            <div class="container">
               <img id= "display_pic" src="https://media.licdn.com/dms/image/C5603AQGwvaZFhIb04g/profile-displayphoto-shrink_200_200/0?e=1553731200&v=beta&t=aAsxxXftz3RSu7sNSTbLgzZz5VhJ9OlaXc7qgHScfHA"> </img>
               <h1 a href="/resumev2">Jasmine Bayani</h1>
               <h5>e-mail: jassycodes@gmail.com</h5>
            </div>
         </div>
         <!--col-sm-4 -->
         <div class="col-sm" id="right">
            <div id="skillsDiv" >
               <div id="skillsDiv" class="block">
                  <h2 id="skills">Skills</h2>
                  <ul class="unstyled_ul">
                     <li>HTML5</li>
                     <div class="progress">
                        <div class="progress-bar progress-bar-success bg-info" role="progressbar" aria-valuenow="80"
                           aria-valuemin="0" aria-valuemax="100" style="width:90%">
                           8 / 10
                        </div>
                     </div>
                     <li>CSS</li>
                     <div class="progress">
                        <div class="progress-bar progress-bar-success bg-info" role="progressbar" aria-valuenow="80"
                           aria-valuemin="0" aria-valuemax="100" style="width:100%">
                           8 / 10
                        </div>
                     </div>
                     <li>JavaScript</li>
                     <div class="progress">
                        <div class="progress-bar progress-bar-success bg-info" role="progressbar" aria-valuenow="80"
                           aria-valuemin="0" aria-valuemax="100" style="width:80%">
                           8 / 10
                        </div>
                     </div>
                     <li>Python</li>
                     <div class="progress">
                        <div class="progress-bar progress-bar-success bg-info" role="progressbar" aria-valuenow="80"
                           aria-valuemin="0" aria-valuemax="100" style="width:70%">
                           8 / 10
                        </div>
                     </div>
                     <li>Java</li>
                     <div class="progress">
                        <div class="progress-bar progress-bar-success bg-info" role="progressbar" aria-valuenow="80"
                           aria-valuemin="0" aria-valuemax="100" style="width:70%">
                           8 / 10
                        </div>
                     </div>
                     <li>C++</li>
                     <div class="progress">
                        <div class="progress-bar progress-bar-success bg-info" role="progressbar" aria-valuenow="80"
                           aria-valuemin="0" aria-valuemax="100" style="width:60%">
                           8 / 10
                        </div>
                     </div>
                     <li>NodeJS</li>
                     <div class="progress">
                        <div class="progress-bar progress-bar-success bg-info" role="progressbar" aria-valuenow="80"
                           aria-valuemin="0" aria-valuemax="100" style="width:60%">
                           8 / 10
                        </div>
                     </div>
                     <li>PHP</li>
                     <div class="progress">
                        <div class="progress-bar progress-bar-success bg-info" role="progressbar" aria-valuenow="80"
                           aria-valuemin="0" aria-valuemax="100" style="width:60%">
                           8 / 10
                        </div>
                     </div>
                     <li>Wordpress</li>
                     <div class="progress">
                        <div class="progress-bar progress-bar-success bg-info" role="progressbar" aria-valuenow="80"
                           aria-valuemin="0" aria-valuemax="100" style="width:90%">
                           8 / 10
                        </div>
                     </div>
                  </ul>
               </div>
               <!--workDiv -->
               <div id="workDiv" class="block">
                  <h2 id="work">Work Experience</h2>
                  <article>
                     <h4>
                     Digital Marketing Director</h3>
                     <h5>Ballegro Music Player App</h5>
                     <h6>Vancouver, BC -- <i>December 2018 - Present</i></h6>
                     <p>
                     <ul>
                        <li> Managing presence and growth through digital landscape including websites, Search Engine Optimization (SEO), social media, advertising and promotions </li>
                        <li>Strategizing and executing marketing plans and campaigns to generate growth throughout the app sales </li>
                        <li>Analyze digital marketing metrics and key performance indicators (KPI), generating reports using Google Analytics and other digital marketing tools and recommend solutions to increase KPI</li>
                        <li>Directly communicates with the CEO by collaborative brainstorming and presenting regular reports/updates</li>
                        <li>Work with UX/UI team to manage user experience (UX) of the app across platforms and assisting with problem resolution</li>
                        <li>Managing social media channels to maintain and grow engagement as well as awareness of the company brand</li>
                        <li>Managing digital marketing contents for emails, social media, blogs, websites and other avenues </li>
                        <li>Competitor / market / influencer analysis </li>
                     </ul>
                     </p>
                  </article>
                  <article>
                     <h4>
                     Vice President of Marketing</h3>
                     <h5>Legacy Advantage CPA Ltd. Acquired by Deloitte</h5>
                     <h6>Vancouver, BC   -- <i>December 2018 - Present</i></h6>
                     <p>
                     <ul>
                        <li> Managing presence and growth through digital landscape including websites, Search Engine Optimization (SEO), social media, advertising and promotions </li>
                        <li>Strategizing and executing marketing plans and campaigns to generate growth throughout the app sales </li>
                        <li>Analyze digital marketing metrics and key performance indicators (KPI), generating reports using Google Analytics and other digital marketing tools and recommend solutions to increase KPI</li>
                        <li>Directly communicates with the CEO by collaborative brainstorming and presenting regular reports/updates</li>
                        <li>Work with UX/UI team to manage user experience (UX) of the app across platforms and assisting with problem resolution</li>
                        <li>Managing social media channels to maintain and grow engagement as well as awareness of the company brand</li>
                        <li>Managing digital marketing contents for emails, social media, blogs, websites and other avenues </li>
                        <li>Competitor / market / influencer analysis </li>
                     </ul>
                     </p>
                  </article>
               </div>
               <!--workDiv -->
               <div id="educationDiv" class="block">
                  <h2 id="education">Education</h2>
                  <article>
                     <h4>University of British Columbia</h4>
                     <h6>Bachelor of Arts - Ba, Cognitive Systems and Computer Science</h6>
                     <p>2017 - 2020</p>
                  </article>
                  <article>
                     <h4>Langara College</h4>
                     <h6>Diploma in Computer Science & Business</h6>
                     <p>2014 - 2017</p>
                  </article>
               </div>
            </div>
         </div>
         <!--col-sm-8 -->
      </div>
      <!--row -->
   </body>
   <!--container -->
</html>